body {
    font-family: Arial, sans-serif;
    background-color: #f4ecd8; /* Sepia background color */
    color: #5b4636; /* Sepia text color */
    margin: 0;
    padding: 20px;
}

h2 {
    text-align: center;
    color: #5b4636;
}

#table-container {
    width: 80%;
    height: 600px;
    margin: 0 auto;
    overflow: auto;
    border: 1px solid #5b4636;
    background-color: #f9f2e4;
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 16px;
    text-align: left;
}

.table th, .table td {
    padding: 10px;
    border: 1px solid #ddd5c3;
}

.table th {
    background-color: #b5a17e;
    color: #ffffff;
}

.table tr:nth-child(even) {
    background-color: #e3d9c0;
}

.table tr:hover {
    background-color: #d1bfa8;
}

.editable {
    background-color: #f2e6d3;
    cursor: pointer;
}

.save-button, .add-question-button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #b5a17e;
    color: #ffffff;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.expandable {
    max-height: 50px;
    overflow: hidden;
    position: relative;
}

.expandable .expand-btn {
    display: block;
    background-color: #b5a17e;
    color: white;
    text-align: center;
    padding: 5px;
    cursor: pointer;
    margin-top: 5px;
}

.expandable.expanded {
    max-height: none;
}

